<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="guide" align="center">

	</div>
	<div class="guide_bt" align="center">
	<%=link_to '이용하기', root_path, class:"btn btn-primary btn-lg", 'data-no-turbolink' => true%>
	</div>
</body>
</html>