@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  font-family: 'UltimaPDac-UltraLight';
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #ccc;
  text-decoration: none;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#header{
  font-family: 'UltimaPDac-UltraLight';
  background-color:#f0ebe8;
  border-color: transparent;
  a:hover{
    color:#222;
    font-weight:bold;
  }
}
a{
  font-family: 'UltimaPDac-UltraLight';
}


.navbar-inverse .navbar-nav > li > a{
 width:auto;
 padding-left: 0px;
 padding-right : 0px;
}

#header_menu{
 width:auto;
 padding-left : 15px;
 padding-right : 15px;
 text-align : center;
 a{
   display : inline-block;
 }
}

#header_menu_right{
 width:auto;
 text-align : center;
 padding-left : 15px;
 padding-right : 15px;
 a{
   display : inline-block;
 }
}

.header_menu_mylist {
  margin-left: -11px;
}

.header_menu_mylist {
  margin-left: -11px;
}

#header_drop{
  background-color: #f0ebe8; 
  border-color: transparent;
}

#header_drop:focus{
  background-color: #fff; 
  border-color: transparent;
  color: #ccc;
}

span.step {
  background: #f06e35;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;

  margin-right: 5px;
  text-align: center;
  width: 2.5em; 
}

