@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-family: 'Nanum Gothic', sans-serif;
  float: left;
  margin-right: 10px;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color:#fff;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Nanum Gothic', sans-serif;

}

#header{
  font-family: 'Nanum Gothic', sans-serif;
  background-color:transparent;
  border-color: transparent;

  a:hover{
    color:#ccc;
    text-decoration: none;
  }
}
a{
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar-inverse .navbar-nav > li > a{
 width:auto;
 padding-left: 0px;
 padding-right : 0px;
 color: #fff;
}

#header_menu{
 width:auto;
 padding-left : 15px;
 padding-right : 15px;
 text-align : center;
 a{
   display : inline-block;
   color: #fff;
   font-size: 17px;
 }
}

#header_menu_right{
 width:auto;
 text-align : center;
 padding-left : 15px;
 padding-right : 15px;
 a{
   display : inline-block;
   color: #fff;
   font-size: 17px;
 }
}

.header_menu_mylist {
  margin-left: -11px;
}

.header_menu_mylist {
  margin-left: -11px;
}

#header_drop{
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-size: 17px;
}

#header_drop:focus{
  background-color: transparent;
  border-color: transparent;
  color: #ccc;
}

span.step {
  background: #CD2026;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 2.5em;
}