@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  font-family: 'UltimaPDac-UltraLight';
  padding-top: 60px;
}

section {
  font-family: 'UltimaPDac-UltraLight';
  overflow: auto;
}

textarea {
  font-family: 'UltimaPDac-UltraLight';
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
#logo {
  font-family: 'UltimaPDac-UltraLight';
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #ccc;
  text-decoration: none;
}
/* forms */

input, textarea, select, .uneditable-input {
  font-family: 'UltimaPDac-UltraLight';
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  font-family: 'UltimaPDac-UltraLight';
  height: auto !important;
}

#header{
  font-family: 'UltimaPDac-UltraLight';
  background-color:#f0ebe8;
  border-color: transparent;
  a:hover{
    color:#222;
    font-weight:bold;
  }
}
a{
  font-family: 'UltimaPDac-UltraLight';
}

.navbar-inverse .navbar-nav > li > a{
  width:115px;
}

#header_menu{
  width:95px;
}

.header_menu_mylist {
  margin-left: -11px;
}

#header_drop{
  background-color: #f0ebe8; 
  border-color: transparent;
}

#header_drop:focus{
  background-color: #fff; 
  border-color: transparent;
  color: #ccc;
  
}

