@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
	font-family: 'UltimaPDac-UltraLight';
	src: url(/assets/stylesheets/ultima_pd/UltimaPDac-UltraLight.ttf);
}

/* home */
#home_url_form{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
}

#home_url_input{
	margin-bottom: 50px;
	width: 600px;
}

#home_url_list{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.user_url_list{
	width: 575px;
	height: 50px;
	background-color: #f0ebe8;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	vertical-align: middle;	
	border-radius: 3px;

	a{
		color: #000;
		font-size: 14.5px;
		position: relative;
		top: 30%;
	}
	a:hover{
		color: #9f9f9f;
		text-decoration:none;
		font-weight:bold;

	}
}
#delete_product{
	float: right;
	padding-right: 15px;
}
/* home input 상자 */
#url{
	width:500px;
}

/* home submit 버튼 */
#short{
	width: 75px;
}


/* index 페이지 */
.mylist_products_list_container {
	width: 100%;
	margin-bottom : 50px;
}

/* My List 로고 */
.mylist_logo {
	font-size: 18pt;
	font-weight: bold;
	color: #757575;
	letter-spacing: 0.1em;
	text-align: center;
	margin-top : 50px;
	margin-bottom: 25px;
}

/* 제품 전체 */
.mylist_products {
	list-style: none;
	padding :0px;
	li {
		display: inline-block;
		position: relative;
		vertical-align: top;
		text-align: center;
		margin-right: 0.5%;
		margin-left: 0.5%;
		width : 291px;
	}
}
.mylist_product {
	margin : 10px;
	height: 486px;
}

/* 제품 이미지 */
.mylist_product_img {

	margin: 0;
	position: relative;

	max-width: 291px;
	height: auto;
}

/* 제품 개별 */

.mylist_product_info {
	padding-left: 0;
	color: #959595;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

#t1{
	height : 436px; 
	width : 291px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color : rgba(0,0,0,0.03);
}

#t2{
	display: inline-block;
	text-align: left;
}