@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Nanum Gothic', sans-serif;
}

/* 전체 div */
#div_total{
	width: 100%;
	height: 100%;
}

#div_main{
	height: 100%;
	background-image: url('sample10.jpg');
	background-size: cover;
	padding-top: 15%;
	position: relative;
}
#div_main_box{
	width: 50%;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: auto;
	margin-right: auto;
	display: table;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#div_main_frame{
	display: table-cell;
    vertical-align: middle;
}
#div_main_title{
	font-weight: bold;
	width: 70%;
	height: 80px;
	background-color: #transparent;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	color: #fff;
}
#div_main_title_sub{
	width: 70%;
	height: 30px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: lighter;
	color: #fff;
}
#div_main_url_form{
	width: 100%;
	height: 80px;
	background-color: transparent;

	#div_main_url_input{
		width: 100%;
		height: 80px;
	}

	#form_box{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#url{
		width: 60%;
		height: 50px;
	}
	#submit{
		width: auto;
		height: 50px;
		font-weight: bold;
	}
}


#div_main_info{
	width: 100%;
	height: 50px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;

	#div_main_info_box{
		width: 90%;
		height: 40px;
		background-color: #CD2026;
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		color: #fff;
		border-radius: 3px;
	}
}
#div_main_help{
	width: 70%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

#div_main_help_extend{
	width: 49%;
	height: 40px;
	background-color: #CD2026;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-size: 16px;
}

#div_main_help_extend:hover{
	color: #ccc;
}

#div_main_help_guide{
	width: 49%;
	height: 40px;
	background-color: #CD2026;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-size: 16px;
}
#div_main_help_guide:hover{
	color: #ccc;
}
a:hover, a:visited, a:link, a:active{
	text-decoration: none !important;
	outline: none !important;
}
.modal.in .modal-dialog {
	display: table;
}
#div_main_useage_modal .modal-content {
	background-color: transparent !important;
}
#div_main_useage_modal_img {
	margin-left: 10px;
}
#div_product{
	width: 100%;
	height: auto;
	background-color: #F0F0F0;
}
#div_product_title{
	font-family: 'Noto Sans Korean', sans-serif;
	padding-top : 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	font-size: 50px;
	font-weight: bold;
}
#div_product_info{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}
#div_product_info_total{
	display: inline-block;
}
#div_product_info_total_text{
	width:auto;
	height:auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
#div_product_info_total.circle{
	background:#CD2026 ;
	width:30px;
	font-weight: bold;
}
#div_product_sort{
	width : 100%;
	height : 100px;
}
#div_product_info_current{
	display: inline-block;
}
.div_product_item{
	width : auto;
	height : auto;
	display: inline-block;
	margin : 22px;
	
	border-color : #D4D4D4;
	border-style : solid;
	border-width : 1px;
}
.no-hover{
	#div_product_item_image {
	  -webkit-filter: brightness(100%) !important;
	}

	#div_product_item_hover_icon {
		display: none !important;
	}
}
.div_product_item:hover{

	#div_product_item_image {
		-webkit-filter: brightness(70%);
	}
}
.div_product_item:hover #div_product_item_hover_icon {
	display: inline-block;
	-webkit-filter: brightness(100%);
	z-index: 1;
}
#div_product_item_hover_icon {
	display: none;
	position: absolute;
	-webkit-filter: brightness(100%);
	margin-top: -180px;
	margin-left: -70px;
	z-index: 1;

	.glyphicon {
		color: white;
		font-size: 50px;
		margin-left: 10px;
	}
}
#div_product_item_hover_icon_edit:hover {
	.glyphicon {
		color: #cd2026;
	}
}
#div_product_item_hover_icon_delete:hover {
	.glyphicon {
		color: #cd2026;
	}
}
.div_product_lists_centerized{
	overflow:hidden;
	margin:0 auto;
}
#div_product_item_image{
	width : auto;
	height : 310px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color:#fff;
}
#div_product_item_info{
	line-height : 15px;
	height: auto;
	font-weight: lighter;
	background-color: #fff;
	padding-top : 5px;
	padding-bottom : 5px;

	p {
		margin-bottom: 5px;
		margin-top: 5px;
	}
}
#div_product_item_info_name{
	font-family: 'Noto Sans Korean', sans-serif;
	border : 0px;
	font-size: 18px;
	font-weight: 600;
}
#div_product_item_edit_name {
	display: none;
	width: 95%;
	margin-top: -9px;
	margin-left: auto;
	margin-right: auto;
}
#edit_name {
	float: left;
	width: 75%;
	margin-left: 1px;
}
#edit_name:focus {
	outline: none;
    border-color: #CD2026;
    box-shadow: 0 0 10px #ccc;
}
#edit_submit {
	width: 20%;
	height:34px;
	padding: 0;
}
.circle{
	width:30px;
	height:30px;
	border-radius:50px;
	font-size:15px;
	color:#fff;
	line-height:30px;
	text-align:center;
	background : #3CADD4 ;
}
.div_text{
	margin: 5px;
	display: inline-block;
	font-size: 15px;
}
#div_product_item_info_price{
	margin-top: 8px;
}
.image_aspect_ratio{
	display: block;
	max-width:290px;
	max-height:290px;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin : 10px;
}

ul li {list-style:none;}

#top{
	position:fixed;
	bottom: 15px;
	right: 15px;
	visibility: hidden; 
}
#footer{
	width: 100%;
	height: 100px;
	background-color: white;
	text-align: center;
}
#footer_url{
	color: #888;
	font-size: 16px;
}
#footer_url:hover{
	color: #222;
	font-weight: bold;
	text-decoration: none !important;
}
#footer_hr{
	width: 125px;
	border-top:1px solid #bbb;
}
