@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Nanum Gothic', sans-serif;
}
/* 전체 div */
#div_total{
	width: 100%;
	height: 100%;

}
#div_main{
	height: auto;
    background-image: url('sample2.jpg');
    background-size: cover;
    padding-top: 15%;
}
#div_main_box{
	width: auto;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: auto;
	margin-right: auto;
	display: table;
	border-radius: 3px;
}

#div_main_frame{
	display: table-cell;
    vertical-align: middle;

}
#div_main_title{
	font-weight: bold;
	width: 70%;
	height: 80px;
	background-color: #transparent;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	color: #fff;
}

#div_main_title_sub{
	width: 70%;
	height: 30px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: lighter;
	color: #fff;
}

#div_main_url_form{
	width: 70%;
	height: 100px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;


	#form_box{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#url{
		width: auto;
		height: 50px;
	}
	#submit{
		width: 85px;
		height: 50px;
		font-weight: bold;
	}
}

#div_main_info{
	width: 70%;
	height: 50px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;

	#div_main_info_box{
		width: 380px;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.5);
		display: table-cell;
		vertical-align: middle;
	    margin: 0 auto;
		color: #fff;
	}
}


#div_main_useage{
	width: 150px;
	height: 50px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;

	#div_main_useage_box{
		width: 150px;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.5);
		display: table-cell;
		vertical-align: middle;
	    margin: 0 auto;
		color: #fff;
		font-size: 16px;
	}
	a{
	    text-decoration: none !important;
	}
	a:hover{
	    text-decoration: none !important;
	}
}



#div_product{
    width: 100%;
    height: auto;
    background-image: url('sample4.jpg');
    background-size: cover;
}

#div_product_title{
	text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#div_product_info{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
}

#div_product_info_total{
    display: inline-block;
}

#div_product_info_total_text{
    width:auto;
    height:auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}

#div_product_info_total.circle{
    background:#ADD43C ;
    width:30px;
    font-weight: bold;
}

#div_product_info_current{
    display: inline-block;
}

#div_product_info_text{

}

.div_product_item{
	width : 291px;
	height : 506px;
	float : left;
	margin : 30px;
	background-color:rgba(0, 0, 0, 0.4);
}

.div_product_lists_centerized{
	overflow:hidden;
    margin:0 auto;
}

#div_prodcut_item_image{
    width : 291px;
    height : 436px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color:rgba(0, 0, 0, 0.4);
}

#div_product_item_info{
    line-height : 15px;
    margin-top: 10px;
    margin-bottom : 10px;
    height: 50px;
    font-size : 15px;
    font-weight: lighter;
}

#div_product_item_info_name_{
	height: 50px;
	margin: 0px;
}

.circle{
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:15px;
    color:#fff;
    line-height:30px;
    text-align:center;
    background : #3CADD4 ;
}

.div_text{
	margin: 5px;
	display: inline-block;
}

.image_aspect_ratio{
    display: block;
    max-width:291px;
    max-height:436px;
    width: auto;
    height: auto;
}

ul li {list-style:none;}