@import "bootstrap-sprockets";
@import "bootstrap";

/* home */
#home_url_form{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
}

#home_url_input{
	margin-bottom: 50px;
	width: 600px;
}

#home_url_list{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.user_url_list{
	width: 575px;
	height: 50px;
	background-color: #f0ebe8;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	vertical-align: middle;	
	border-radius: 3px;

	a{
		color: #000;
		font-size: 14.5px;
		position: relative;
		top: 30%;
	}
	a:hover{
		color: #9f9f9f;
	  	text-decoration:none;
	  	font-weight:bold;

	}
}
#delete_product{
	float: right;
	padding-right: 15px;
}
/* home input 상자 */
#url{
	width:500px;
}

/* home submit 버튼 */
#short{
	width: 75px;
}

/* index 페이지 */
.mylist_products_list_container {
	width: 1180px;
	margin: 10px 0 0 0;

	ul {
		margin-bottom: 50px;
	}
}

/* My List 로고 */
.mylist_logo {
	font-size: 3.6em;
	padding-top: 15px;
	text-align: center;
	margin-bottom: 50px;
}

/* 제품 전체 */
.mylist_products {
	list-style: none;
	padding-left: 0;
	margin-left: 10px;
	margin-right: auto;

	li {
		display: inline-block;
		padding-right: 10px;
		position: relative;
		vertical-align: top;
		text-align: center;
		width: 280px;
	}
}

/* 제품 이미지 */
.mylist_product_img {
	max-width: 100%;
	padding-bottom: 10px;
	margin: 0;
	position: relative;
}

/* 제품 개별 */
.mylist_product {
	padding-right: 10px;
}

.mylist_product_info {
	padding-left: 0;
	color: #959595;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}