@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Nanum Gothic', sans-serif;
}
/* 전체 div */
#div_total{
	width: 100%;
	height: 100%;
}
#div_main{
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
    background-image: url('sample1.jpg');
    background-size: cover;
}

#div_main_title{
	font-weight: bold;
	width: 70%;
	height: 80px;
	background-color: #transparent;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	color: #fff;
}

#div_main_title_sub{
	width: 70%;
	height: 30px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

#div_main_url_form{
	width: 70%;
	height: 100px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;


	#form_box{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#url{
		width: 500px;
		height: 50px;
	}
	#submit{
		width: 85px;
		height: 50px;
		font-weight: bold;
	}
}

#div_main_info{
	width: 70%;
	height: 50px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;

	#div_main_info_box{
		width: 380px;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.5);
		display: table-cell;
		vertical-align: middle;
	    margin: 0 auto;
		color: #fff;
	}
}


#div_main_useage{
	width: 150px;
	height: 50px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;

	#div_main_useage_box{
		width: 150px;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.5);
		display: table-cell;
		vertical-align: middle;
	    margin: 0 auto;
		color: #fff;
		font-size: 16px;
	}
	a{
	    text-decoration: none !important;
	}
	a:hover{
	    text-decoration: none !important;
	}
}



#div_product{
    width: 100%;
    height: auto;
    background-color:rgba(0, 0, 0, 0.1);
    
}

#div_product_title{
   text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 40px;
}

#div_product_info{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

#div_product_info_total{
    display: inline-block;
}

#div_product_info_total_text{
    width:auto;
    height:auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

#div_product_info_total.circle{
    background:#ADD43C ;
    width:30px;
}

#div_product_info_current{
    display: inline-block;
}

#div_product_info_text{

}

#div_product_lists{

}

#li_product_lists{
    display : inline-block;
}

#div_prodcut_item_image{
    width : 291px;
    height : 436px;
}

#div_product_item_info{
    line-height : 15px;
}

.circle{
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:15px;
    color:#fff;
    line-height:30px;
    text-align:center;
    background : #3CADD4 ;
}

ul li {list-style:none;}






