@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Nanum Gothic', sans-serif;
}
/* 전체 div */
#div_total{
	width: 100%;
	height: 100%;

}
#div_main{
	height: 100%;
    background-image: url('sample10.jpg');
    background-size: cover;
    padding-top: 15%;
    position: relative;
}
#div_main_box{
	width: auto;
	height: auto;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: auto;
	margin-right: auto;
	display: table;
	border-radius: 3px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#div_main_frame{
	display: table-cell;
    vertical-align: middle;

}
#div_main_title{
	font-weight: bold;
	width: 70%;
	height: 80px;
	background-color: #transparent;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	color: #fff;
}

#div_main_title_sub{
	width: 70%;
	height: 30px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: lighter;
	color: #fff;
}

#div_main_url_form{
	width: 100%;
	height: 100px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;


	#form_box{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#url{
		width: auto;
		height: 50px;
	}
	#submit{
		width: 85px;
		height: 50px;
		font-weight: bold;
	}
}

#div_main_info{
	width: 100%;
	height: 50px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;

	#div_main_info_box{
		width: 90%;
		height: 40px;
		background-color: #CD2026;
		display: table-cell;
		vertical-align: middle;
	    margin: 0 auto;
		color: #fff;
		border-radius: 3px;
	}
}


#div_main_useage{
	width: 150px;
	height: 50px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;

	#div_main_useage_box{
		width: 150px;
		height: 40px;
		background-color: #CD2026;
		display: table-cell;
		vertical-align: middle;
	    margin: 0 auto;
		color: #fff;
		font-size: 16px;
		border-radius: 3px;

		a:hover{
			color:#ccc;
		}
	}

}

	
a:hover{
	text-decoration: none !important;
}

#div_product{
    width: 100%;
    height: auto;
    background-color: #EDECE8;
}

#div_product_title{
	font-family: 'Jeju Gothic', serif;
	padding-top : 60px;
	text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 50px;
    font-weight: bold;
}

#div_product_info{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

#div_product_info_total{
    display: inline-block;
}

#div_product_info_total_text{
    width:auto;
    height:auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

#div_product_info_total.circle{
    background:#CD2026 ;
    width:30px;
    font-weight: bold;
}

#div_product_info_current{
    display: inline-block;
}

#div_product_info_text{
}

.div_product_item{
	width : 291px;
	height : 506px;
	float : left;
	margin : 30px;
	background-color:rgba(0, 0, 0, 0.0001);
	border-radius : 10px;

}

.div_product_lists_centerized{
	overflow:hidden;
    margin:0 auto;
}

#div_prodcut_item_image{
    width : 291px;
    height : 436px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color:#fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#div_product_item_info{
    line-height : 15px;
    margin-top: 0px;
    margin-bottom : 10px;
    height: 80px;
    font-weight: lighter;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 3px solid #EDECE8;
}

#div_product_item_info_name{
	font-family: 'Jeju Gothic', serif;
	border : 0px;
	padding-top : 10px;
	font-size: 18px;
	font-weight: bold;
}

.circle{
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:15px;
    color:#fff;
    line-height:30px;
    text-align:center;
    background : #3CADD4 ;
}

.div_text{
	margin: 5px;
	display: inline-block;
	font-size: 15px;
}

#div_product_item_info_price{
	margin-top: 8px;
	color: #999;
}
.image_aspect_ratio{
    display: block;
    max-width:291px;
    max-height:436px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

ul li {list-style:none;}