<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="div_total">
        <div id="div_main">

        </div>
        <div id="div_product">
        
        </div>
    </div>
</body>
</html>