
<div class="home_form">
	
	<%= form_for(@product) do |p| %>

		<div class="home_input_url">
			<%= p.text_field :url %>
		</div>

		<div class="home_url_submit">
			<%= p.submit "담기" %>
		</div>

	<% end %>

</div>

<div class="home_url_list">

	<% current_user.products.order('created_at DESC').each do |u| %>
		<%= link_to u.url, url=u.url %> <br>
	<% end %>
	
</div>