
<div class="home_form">
	
		<div class="home_url_text_field">
			<%= text_field_tag :url %>
		</div>

		<div class="home_url_submit">
			<%= submit_tag "담기" %>
		</div>
</div>


<script>
$(".home_url_text_field").click(function() {
	document.location.href = '/login';
});
</script>