<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="form-inline" align="center">
		<div id="home_url_form">
			<div id="home_url_input" align="center" class="form-group">
				<input type="text" name="url" id="url" class="form-control" placeholder="URL 을 입력하세요" />
				<button type="submit" id="short" value="제출" class="btn btn-default"/>
			</div>
			<div id="home_url_list" align="center">
			</div>
		</div>
	</div>
</body>
</html>


<script>
$("#url").click(function() {
	document.location.href = '/login';
});

</script>