<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>

$('.navbar-inverse .navbar-nav').hide();

$(document).ready(function(){
	var w = window.innerWidth;
	var h = window.innerHeight;
	console.log("width : ", w);
	console.log("height : ", h);
	
    $('#div_main').css({'height': h});
    //$('#div_main_box').css({'width': (w/1.9), 'height': (h/2)});
    //$('#url').css({'width': (w/4)});

    $('.navbar-inverse .navbar-nav').hide();

	$("#url").click(function() {
        jQuery.noConflict();
        $('#div_modal').modal('show');
	});
});

</script>
<body>
    <div id="div_total">
        <div id="div_main">
            <div id="div_main_box">
                <div id="div_main_frame">
                	<!--맨 위 타이틀-->
                	<div id="div_main_title" align="center">
                    Shop-in
                	</div>

                	<!--타이틀 서브 텍스트-->
                	<div id="div_main_title_sub" align="center">
                        여러 상품을 한 곳에 담다
                	</div>
                	
                	<!--메인 URL 입력 폼-->
                	<div id="div_main_url_form" class="form-inline" align="center">
                		<div id="div_main_url_input" align="center" class="form-group">
        	        		<input type="text" name="url" id="url" placeholder=" 로그인 후 이용해주세요. (클릭)" class="form-control" />
        	        		<button type="submit" id="submit" class="btn btn-default">상품 담기</button>
                		</div>
                	</div>

                	<div id="div_main_help">

                    <a href="https://chrome.google.com/webstore/detail/shop-in/inkgpdfkjhckpjhimallbplbnjhdnmdd?hl=ko" target="_blank">
                    <div id ="div_main_help_extend" style="float:left">
                      확장프로그램
                    </div>  
                    </a>

                    <!--맨 아래 SHOP IN 이용방법-->
                    <a data-toggle="modal" href="#div_main_useage_modal">
                    <div id ="div_main_help_guide" style="float:right">
                      SHOP IN 이용방법
                    </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="div_main_useage_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                  <%= image_tag('guide.png', id: "div_main_useage_modal_img") %>
              </div>
            </div>
          </div>
        </div>

    </div>
</body>
</html>